@using System.Linq
@model TheMaelstrom.Models.Guild
@{
    ViewData["Title"] = "Home Page";
    ViewData["Subtitle"] = "A World Of Warcraft Guild";
    ViewData["BG-Url"] = "/images/WoWScrnShot-valsharah.jpg";
}

<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2 id="about">About The Maelstrom</h2>
            <div class="col-xs-12 col-md-6 text-left">
                <p class="stats">
                    <span class="stat-title">Members: </span>@Model.memberCount<br />
                    <span class="stat-title">Level: </span>@Model.level<br />
                    <span class="stat-title">Acheivement Points: </span>@Model.achievementPoints
                    <br /><br />
                    <span class="stat-title">Realm: </span>@Model.realm<br />
                    <span class="stat-title">Realm Region: </span>USA-Mountain<br />
                    <span class="stat-title">Battlegroup: </span>@Model.battlegroup <br />
                    <span class="stat-title">Merged Servers: </span>Garithos, Chromaggus, Anub'arak, Smolderthorn, and Crushridge<br />

                </p>
            </div>
            <div class="col-xs-12 col-md-6 text-left">
                <p>We are The Maelstrom - a World of Warcraft guild. We were formed in 2006 by a rag-tag group of Molten Core raiders. We have been together in at least a limited capacity through Vanilla, The Burning Crusade, Wrath of the Lich King, Cataclysm, Mists of Pandaria, and Warlords of Draenor. We've come together and reclaimed our guild on our original server, to defeat the Burning Legion in World Of Warcraft: Legion (and mostly to have a fun time).
            </div>
        </div>
    </div>
</section>

<section class="download-section content-section text-center">
    <div class="container members">
        <h2>Recent Loot & Acheivements</h2>
        <div class="row">
            @{
                var ct = 1;
                Html.Raw("<div class='col-xs-12 col-md-6 text-left'>");
                foreach (News n in Model.news.Take(40))
                {
                    if (ct == 1)
                    {
                        @Html.Raw("<div class='col-xs-12 col-md-6 text-left'>");
                    }
                    else if (ct == 21)
                    {
                        @Html.Raw("</div><div class='col-xs-12 col-md-6 text-left'>");
                    }
                    var toonlink = "http://us.battle.net/wow/en/character/nathrezim/" + n.character + "/simple";
                    if (n.type == "itemLoot" || n.type == "itemCraft")
                    {
                        var bonus = "";
                        if (n.bonusLists != null)
                        {
                            foreach (int i in n.bonusLists)
                            {
                                bonus = bonus + i + ":";
                            }
                            bonus.TrimEnd(':');
                        }
                            <span>[@n.timeString] <a target="_blank" href="@toonlink">@n.character</a> @n.newsAction: <a href="//www.wowhead.com/item=@n.itemId" rel="bonus=@bonus">&nbsp;</a></span><br/>
                        }
                        if (n.type == "playerAchievement")
                         {
                             <span>[@n.timeString] <a target="_blank" href="@toonlink">@n.character</a> @n.newsAction: <a href="//www.wowhead.com/achievement=@n.achievement.id"></a></span><br />
                    }
                    if (ct == 40) { @Html.Raw("</div>"); }
                    ct++;
                }
            }
        </div>
        <a asp-controller="Home" asp-action="Members" class="btn btn-default btn-lg">View more news...</a>
    </div>
</section>





<section class="content-section text-center">
    <div class="container members">
        <h2>Officers</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="member">
                    <div class="image-area">
                        <div class="class warrior">
                            <div class="mem-class" style="background-image: url(http://media.blizzard.com/wow/icons/36/ability_warrior_defensivestance.jpg)"> </div>
                            <h4>Thelrad</h4>
                        </div>
                        <img class="mem-pic" src="http://us.battle.net/static-render/us/nathrezim/64/120865856-avatar.jpg" />
                    </div>
                    <div class="desc">110 Fury Warrior</div>
                    <p class="stats">
                        <span class="stat-title">Rank</span>: Guild Master<br />
                        <span class="stat-title">Name</span>: Mike<br />
                        <span class="stat-title">Alts</span>: Spen (shaman), Theldra (paladin)<br />
                        <span class="stat-title">Bio</span>: Just a noob.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="member">
                    <div class="image-area">
                        <div class="class priest">
                            <div class="mem-class" style="background-image: url(http://media.blizzard.com/wow/icons/36/spell_shadow_shadowwordpain.jpg)"> </div>
                            <h4>Kopello</h4>
                        </div>
                        <img class="mem-pic" src="~/images/members/kopello.jpg" />
                    </div>
                    <div class="desc">110 Shadow Priest</div>
                    <p class="stats">
                        <span class="stat-title">Rank</span>: Co-GM<br />
                        <span class="stat-title">Name</span>: Jeff<br />
                        <span class="stat-title">Alts</span>: Thillic (lock), Cernunos (druid), Asteria (paladin), Hekili (shaman)<br />
                        <span class="stat-title">Bio</span>: A chemist turned software engineer, living in the Seattle, WA area.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="member">
                    <div class="image-area">
                        <div class="class druid">
                            <div class="mem-class" style="background-image: url(http://media.blizzard.com/wow/icons/36/ability_druid_catform.jpg)"> </div>
                            <h4>Oti</h4>
                        </div>
                        <img class="mem-pic" src="http://us.battle.net/static-render/us/nathrezim/0/122210560-avatar.jpg">
                    </div>
                    <div class="desc">110 Moonkin Druid</div>
                    <p class="stats">
                        <span class="stat-title">Rank</span>: Co-GM<br />
                        <span class="stat-title">Name</span>: Kory<br />
                        <span class="stat-title">Alts</span>: Mals (paladin)<br />
                        <span class="stat-title">Bio</span>: A noob without a bio.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="member">
                    <div class="image-area">
                        <div class="class deathknight">
                            <div class="mem-class" style="background-image: url(http://media.blizzard.com/wow/icons/36/spell_deathknight_bloodpresence.jpg)"> </div>
                            <h4>Free</h4>
                        </div>
                        <img class="mem-pic" src="http://us.battle.net/static-render/us/nathrezim/37/103195429-avatar.jpg">
                    </div>
                    <div class="desc">110 Blood Deathknight</div>
                    <p class="stats">
                        <span class="stat-title">Rank</span>: Co-GM<br />
                        <span class="stat-title">Name</span>: Brett<br />
                        <span class="stat-title">Alts</span>: Are (mage)<br />
                        <span class="stat-title">Bio</span>: A noob without a bio.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="member">
                    <div class="image-area">
                        <div class="class druid">
                            <div class="mem-class" style="background-image: url(http://media.blizzard.com/wow/icons/36/ability_racial_bearform.jpg)"> </div>
                            <h4>Mistiqe</h4>
                        </div>
                        <img class="mem-pic" src="http://us.battle.net/static-render/us/nathrezim/225/102889953-avatar.jpg">
                    </div>
                    <div class="desc">110 Guardian Druid</div>
                    <p class="stats">
                        <span class="stat-title">Rank</span>: Co-GM<br />
                        <span class="stat-title">Name</span>: Ron<br />
                        <span class="stat-title">Alts</span>: Stamyna (hunter)<br />
                        <span class="stat-title">Bio</span>: A noob without a bio.
                    </p>
                </div>
            </div>
        </div>
        <a asp-controller="Home" asp-action="Members" class="btn btn-default btn-lg">View all members...</a>
    </div>
</section>

<section id="contact" class="container download-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us or Connect</h2>
            <p>
                Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!
                <br /><br />
                <a href="mailto:themaelstrom@redoxic.com">themaelstrom@redoxic.com</a>
                <br /><br />
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://curse.com" class="btn btn-default btn-lg"><i class="fa fa-fire fa-fw"></i> <span class="network-name">Curse</span></a>
                </li>
                <li>
                    <a href="https://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus-official fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
