@using System.ComponentModel.DataAnnotations
@using System.Linq
@using Remotion.Linq.Clauses;
@model TheMaelstrom.Models.Guild
@{
    ViewData["Title"] = "Members";
    ViewData["Subtitle"] = "Members";
    ViewData["BG-Url"] = "/images/WoWScrnShot-suramarriver.jpg";
}

<section id="about" class="download-section text-center">
    <div class="container members">
        <h2>Members @Model.level</h2>
        <div class="row">
            @foreach (GuildMember mem in @Model.members.Where(x => x.rank != "Inactive"))
            {
                <div class="col-xs-6 col-md-4">
                    <div class="member">
                        <div class="image-area">
                            <div class="class @mem.character.characterClass.ToLower().Replace(" ","")">
                                @{ var classImg = "http://us.battle.net/wow-assets/static/images/icons/18/";}
                                <div class="mem-class" style="background-image: url(@classImg)"> </div>
                                <h4>@mem.character.name</h4>
                            </div>
                            @{ var thumbImg = "http://us.battle.net/static-render/us/" + @mem.character.thumbnail; }
                            <img class="mem-pic" src="@thumbImg"/>
                        </div>
                        <div class="desc">@mem.character.level @mem.character.race @mem.character.characterClass</div>
                        <p class="stats">
                            <span class="stat-title">Rank</span>: @mem.rank<br/>
                            <span class="stat-title">Realm</span>: @mem.character.realm<br/>
                            <span class="stat-title">Points</span>: @mem.character.achievementPoints
                        </p>
                    </div>
                </div>
            }
        </div>
        <a href="https://docs.google.com/forms/d/1oAsIzVpArdcJ0DIdgAGF854EJ5pbzA-0d2dw15OdAAE" class="btn btn-default btn-lg">Get added to the list</a>
    </div>
</section>